<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/css/common/common.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/dist/test/index.css">
</head>
<body>
    <h3>test page</h3>
    <!-- inject:js -->
    <script src="/static/js/polyfill/polyfill.js"></script>
    <!-- endinject -->
    <script src="/dist/test/index.js"></script>
</body>
</html>