<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-hover</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/css/common/common.min.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/dist/card-hover/index.css">
    <link rel="stylesheet" href="/static/icons/iconfont.css">
</head>
<body>
    <div class="container">
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="./img/naruto.jpeg" alt=""></div>
          <div class="contentBx">
            <h3>Naruto Famous Comics Charactor<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul>
          <li><a href="#"><i class="iconfont icon-icon-facebook"></i></a></li>
          <li><a href="#"><i class="iconfont icon-tuitetwitter43"></i></a></li>
          <li><a href="#"><i class="iconfont icon-T-insgram"></i></a></li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="./img/minatu.jpeg" alt=""></div>
          <div class="contentBx">
            <h3>Naruto Famous Comics Charactor<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul>
          <li><a href="#"><i class="iconfont icon-icon-facebook"></i></a></li>
          <li><a href="#"><i class="iconfont icon-tuitetwitter43"></i></a></li>
          <li><a href="#"><i class="iconfont icon-T-insgram"></i></a></li>
        </ul>
      </div>
      <div class="card">
        <div class="content">
          <div class="imgBx"><img src="./img/jiraiya.jpg" alt=""></div>
          <div class="contentBx">
            <h3>Naruto Famous Comics Charactor<br><span>Creative Designer</span></h3>
          </div>
        </div>
        <ul>
          <li><a href="#"><i class="iconfont icon-icon-facebook"></i></a></li>
          <li><a href="#"><i class="iconfont icon-tuitetwitter43"></i></a></li>
          <li><a href="#"><i class="iconfont icon-T-insgram"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- inject:js -->
    <script src="/static/js/polyfill/polyfill.js"></script>
    <!-- endinject -->
    <script src="/dist/card-hover/index.js"></script>
</body>
</html>
