<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSS Hamburger Animation</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/dist/css/common/common.min.css" />
    <!-- endinject -->
    <link rel="stylesheet" href="/dist/menu/index.css" />
  </head>
  <body>
    <div class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>
    <!-- inject:js -->
    <script src="/static/js/polyfill/polyfill.js"></script>
    <!-- endinject -->
    <script src="/dist/menu/index.js"></script>
  </body>
</html>
