<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accordion Menu</title>
  <link rel="stylesheet" href="/dist/css/common/common.min.css">
  <link rel="stylesheet" href="/static/icons/iconfont.css">
  <link rel="stylesheet" href="/dist/menus/accordion/accordion.css">
</head>
<body>
  <div class="menu">
    <li class="menu-item" id="profile">
      <a href="#profile" class="btn"><i class="iconfont icon-user"></i>Profile</a>
      <div class="menu-item__sub">
        <a href="#">Posts</a>
        <a href="#">Picture</a>
      </div>
    </li>
    <li class="menu-item" id="message">
      <a href="#message" class="btn"><i class="iconfont icon-user"></i>Message</a>
      <div class="menu-item__sub">
        <a href="#">New</a>
        <a href="#">Sent</a>
        <a href="#">Spam</a>
      </div>
    </li>
    <li class="menu-item" id="setting">
      <a href="#setting" class="btn"><i class="iconfont icon-user"></i>Settings</a>
      <div class="menu-item__sub">
        <a href="#">Password</a>
        <a href="#">Language</a>
      </div>
    </li>
    <li class="menu-item" id="Logout">
      <a href="#Logout" class="btn"><i class="iconfont icon-user"></i>Logout</a>
      <div class="menu-item__sub">
          <a href="#">Anthing</a>
      </div>
    </li>
  </div>
</body>
</html>
