@import '../../../scss/common/variables.scss';
@import '../../../scss/common/mixins.scss';

html{ font-size: 15px; }
body{
  @include flex-center;
  min-height: 100vh;
  font-family: serif;
  background-color: $dark-bg;
}
.menu{
  width: 20rem;
  border-radius: 0.2rem;
  overflow: hidden;
  a{
    text-decoration: none;
  }
  .menu-item{
    border-top: 1px solid $dark-blue;
    &:target{
      .btn::after{
        opacity: 1;
      }
      .menu-item__sub{
        max-height: 10em;
      }
    }
    .btn{
      position: relative;
      display: block;
      padding: 1rem 1.2rem;
      background: $blue;
      color: #FFFFFF;
      &::after{
        content: '';
        position: absolute;
        left: 1.5rem;
        bottom: -.5rem;
        width: 1rem;
        height: 1rem;
        opacity: 0;
        transform: rotate(45deg);
        transition: opacity .3s ease-in-out;
        background: $blue;
      }
      i{
        margin-right: 1rem;
      }
    }
    .menu-item__sub{
      overflow: hidden;
      max-height: 0;
      transition: max-height .3s;
      background: $grey;
      a{
        position: relative;;
        display: block;
        padding: 1rem 1.6rem;
        border-bottom: 1px solid $light-grey;
        color: white;
        font-size: .9rem;
        &:hover::before{
          opacity: 1;
          transform: translateX(0);
        }
        &::before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 0.4rem;
          height: 100%;
          background: $blue;
          transform: translateX(-0.4rem);
          transition: transform .3s ease-in;
          opacity: 0;
        }
      }
    }
  }
}
